<div class="container">
    <h1 class="text-center mb-3">Award Recognition</h1>
    <div class="my-3">
      <h4>Add User Data </h4>
        <form [formGroup]="addData" (ngSubmit)="saveData()">
          <div class="form-group">
            <label for="title">GEM-ID:</label>
            <input type="text" class="form-control1" id="title" name="title" formControlName="gid">
            <label for="title">Name :</label>
            <input type="text" class="form-control1" id="title" name="title" formControlName="name">
            <label for="title">Country:</label>
            <input type="text" class="form-control1" id="title" name="title" formControlName="country"> 
            <label for="title">DOJ:</label>
            <input type="text" class="form-control1" id="title" name="title" formControlName="doj"> 
            <label for="title">Image:</label>
            <input type="text" class="form-control1" id="title" name="title" formControlName="img"> 
          </div><br>
          <button type="submit" class="btn btn-secondary btn-lg" >Add Data</button><br>
          </form></div>
          <!-- <div class="form-group">
            <label for="title">Name :</label>
            <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp" [(ngModel)]="searchText" autocomplete="off"> 
          </div><br>
          <div class="form-group">
            <label for="title">Country:</label>
            <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp" [(ngModel)]="searchText" autocomplete="off"> 
          </div><br>
          <div class="form-group">
            <label for="title">DOJ:</label>
            <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp" [(ngModel)]="searchText" autocomplete="off"> 
          </div><br>
          <div class="form-group">
            <label for="title">Image:</label>
            <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp" [(ngModel)]="searchText" autocomplete="off"> 
          </div><br>
          <button type="submit" class="btn btn-sm btn-primary" onClick="onclick()" >Add</button><br> -->

          <!-- <div class="container">
          <h4>Search </h4>
          <form>
            <div class="form-group">
              <label for="title">ID / Name :</label>
              <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp" [(ngModel)]="searchText" autocomplete="off"> 
            </div><br>
            <table class="table">
              <thead>
              <tr>
                <th>GEM-Id</th>
                <th>Name</th>
                <th>Country</th>
                <th>DOJ</th>
                <th>Image</th>
              </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let name of Data | filter:searchText">
                      <td>{{name.id}}</td>
                      <td>{{name.name}}</td>
                      <td>{{name.country}}</td>
                      <td>{{name.doj}}</td>
                      <td><img [src]="name.img" class="img-responsive" style="width: 40px;height: 40px;"></td>
                    </tr>
              </tbody>
            </table> -->

            
            
    </div> 
    
