<div class="myclass">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Hi, Welcome</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


  <div class="container">
    
    <form>
      <div class="form-group">
        <!-- <app-nsearch (dataAdded)="onDataAdded($event)"></app-nsearch> -->
        <app-nsearch></app-nsearch> 
        <ul class="list-group">
          <a class="list-group-item" style="cursor: pointer" *ngFor="let i of AllData">
          {{i.name}} ({{i.gid}})
          </a>
      </ul>
      <hr>
      <h4>Search </h4>
        <label for="title">ID / Name :</label>
        <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp" [(ngModel)]="searchText" autocomplete="off"> 
      <br>
      
      <table class="table">
        <thead>
        <tr>
          <th>GEM-Id</th>
          <th>Name</th>
          <th>Country</th>
          <th>DOJ</th>
          <th>Image</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let name of AllData | filter:searchText">
                <td>{{name.gid}}</td>
                <td>{{name.name}}</td>
                <td>{{name.country}}</td>
                <td>{{name.doj}}</td>
                <td><img [src]="name.img" class="img-responsive" style="width: 40px;height: 40px;"></td>
              </tr>
        </tbody>
      </table>
      </div>
      
      <button type="submit" class="btn btn-sm btn-primary" onClick="onclick()" >Search</button>
          
    <h4>Result:</h4>
    <div>No result</div>
      </form>
    </div>

  </div>
      
 

